@model LoginModel

<head>
    Ошибка авторизации!
</head>
<p>@Model.login</p>
<p1>@Model.password</p1>

@using (Html.BeginForm("Error", "Home", null, FormMethod.Post))
{
    <input type="submit" value="Выйти на страницу авторизации">
   
}
