@{
    ViewData["Title"] = "Страница приветствия";
}

<div class="text-center">
    <h1 class="display-4">Добрый день, пользователь!</h1>

    <p>Этот ресурс создан для тестирования новой системы авторизации</a>.</p>
    <h2 class="display-3">Войти в личный кабинет</h2>
    <p>Введите логин:</p>
    <input type="email" />
    <p>Введите пароль:</p>
    <input type="password" />
    <p>********************************</p>
    <button>Авторизоваться</button>
</div>
