
@model LoginModel
@{ ViewData["Title"] = "Личный кабинет"; }

<h1>@ViewData["Title"]</h1>

<p>Это страница для авторизованных пользователей.</p>
@{ }
<h>Здесь представлена информация об авторизованном студенте</h>

