
@model LoginModel


<h></h>

<p>Это страница для авторизованных пользователей.</p>
<h1>@ViewData["CurrentUser"]</h1>
@using (Html.BeginForm("Privacy", "Home", null, FormMethod.Post))
{
   <input type="submit" value="Выйти из учётной записи">
 }


